/*-- CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

body {
    background: #C0F7D1;
}



section, header {
    width: 80%;
    max-width: 700px;
    margin: auto; 
}

section {
    border-bottom: 1px solid #f0f2f3;
}

/*-- Styling Typography --*/

h2,h3 {
    color:#5DC27D;  
    text-align: center;
}


p{
    margin-bottom: 1.5rem;
    line-height: 1.4;
    color: #000;
    font-family: mrs-eaves, serif;
    font-size: 1.2rem;
}

h1 {
    font-size: 5.653rem;
    margin-top: 2em;
    text-align: center;
    font-family: baskerville-display-pt, serif;
    color:#38754C;
}

h2 { 
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
    text-align: center;
}

h3 {
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
    text-align: center;
    margin-top: -3rem;
}

blockquote {
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    color:#38754C; 
}

cite {
    font-size: 0.8em;
    color: #333;
    font-style: normal;
}

/*-- Styling Links --*/
a{
    colour: #5DC27D;
    text-decoration: none;
}

a:hover {
    color:#5DC27D;
    border-bottom: 1px dotted;
}

/*-- Styling Nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #38754C; 
    padding: 2em 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: upper-case;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a {
    color: #f7f7f7
}

nav a:hover {
    border-bottom:none;
    color:#5DC27D;
    transition: all 0.3s ease-in-out
}

hr{
    margin: 100px 0;
    height: 1px;
    background-color:#38754C; 
    color: #38754C;
    border: 0 none;
}

.dark 
{
    background: #38754C;
    margin: auto;
    padding: 2em;
    max-width: auto;
}

img{
    display: block;
    margin: 4em 0;
    padding: 0;
    max-width: 100%;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    margin: 4em 0 3em;
    color: #38754C;
}